<!DOCTYPE html >
{% load static %}
<html>
	<head>
		<title>EMS System</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css"
			href="{% static '/css/style.css' %}" />
	</head>
	<body>
		<div id="wrap">
        <div id="top_content">
					<div id="header">
						<div id="rightheader">
							<p>
								2018/7/22
								<br />
							</p>
						</div>
						<div id="topheader">
							<h1 id="title">
								<a href="{% url 'index' %}">主页</a>
							</h1>
						</div>
						<div id="navigation">
						</div>
					</div>
				<div id="content">


			{% block ems_super %}
            {% endblock %}
			<div id="footer">
				<div id="footer_bg">
					ABC@126.com
				</div>
			</div>
		</div>
	</body>
</html>
